@import '../assets/styles/lightTheme.scss';

.input-wrap {
    .input {
        display: block;
        width: 100%;
        border: 1px solid $border;
        border-radius: 15px;
        font-size: 19px;
        padding: 10px 20px;
        transition-duration: .25s;
        outline: unset;
        background-color: $dark-0;
       
        &:focus {
            border: 1px solid $border-hover;
            background-color: $dark-2;
        }

    }
}