@import '../assets/styles/common.module.scss';

.expCard{
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 45px;
}
.expCard_1{
    grid-area: 1 / 1 / 2 / 2;
}

.expCard_2{
    grid-area: 2 / 2 / 3 / 3;
}
.expCard_3{
    grid-area: 3 / 1 / 4 / 2;
}

.verticalLine{
    margin-top: 40px;
    position: absolute;
    top: 0%;
    left: 50%;
    width: 0.5px;
    height: 100%;
    background: red;
    z-index: -2;
    display: flex;
}