@import '../assets/styles/common.module.scss';
.skillsPage {
    .skillsList {
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(3, 385px);
        gap: 20px;
        justify-content: center;
        a {
            text-decoration: none;
        }
    }
}