.container {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 1200px;
}

.navBar {
  margin: 0 auto;
  max-width: 1200px;
  border-bottom: 1px solid #ffffff;
  max-height: 60px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: space-around;
  a {
    text-decoration: none;
    color: #d1d1d1;
  }

  .navItm_name {
    font-weight: 700;
    padding: 10px 20px;
    
  }

  .navItm {
    padding: 10px 20px;
    font-weight: 400;
  }

  .navItm:hover,
  .navItm_name:hover {
    background: rgb(61, 60, 60);
    cursor: pointer;
    transition: all 500ms;
  }

  .icon {
    display: block;
    width: 10px;
    height: 10px;
    padding: 10px;

  }

}
link:link:visited {
  text-decoration: none;
 
}

.bodyBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 100px;
  margin-top: 250px;

  .textBox {
    text-align: left;
  }

}

.iconItm {
  width: 120px;
  height: 120px;
  display: block;
  padding: 20px;
}