@import './../../assets/styles/lightTheme.scss';

.chip-wrap {
    display: inline-block;
    border: 1px solid $border;
    color: $tertiary-text;
    font-size: 13px;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
    transition-duration: .15s;
    user-select: none;
    color:$light-2;
    &.active {
        background-color: transparent;
    }
    &:hover {
        background-color: $main-60;
    }


}